{% extends "headers.html" %}
{% load static %}


{% block container %}
  {% block claim %}
{#    <div class="claim acorn-background">#}
{#      <div class="container">#}
{#        <div class="row">#}
{#          <div class="col-md-12 main-title">#}
{#            <h1>PyConES <span>Granada</span></h1>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
    <div class="hero-image">
      <div class="m-hero-video-holder">
          <div class="m-hero-video-container">
            <div class="acorn-background">
            <div class="container">
              <div class="row">
                <div class="col-md-12 main-title">
                  <img src="{% static "img/logo-small.png" %}" width="200px">
                  <h1>PyConES <span>Granada</span></h1>
                </div>
              </div>
            </div>
            </div>
            <video src="{% static "img/alhambra-timelapse.mp4" %}" class="m-hero-item m-hero-item--video x-hidden-focus" autoplay="" muted="" playsinline=""></video>
          </div>
      </div>
    </div>
  {% endblock claim %}

  {% if messages %}
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
              {{ message }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% block container-content %}
    <div class="container">
      <div class="row">
        <div>
          {% block content %}
            {% comment %} Main web container {% endcomment %}
          {% endblock content %}
        </div>
      </div>
    </div>
  {% endblock container-content %}

{% endblock container %}
